.programs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    padding-top: 70px;
}

.program-card {
    background-color: #f8f9fa; /* Цвет для светлой темы */
    width: calc(25% - 20px); /* 25% ширины минус отступы */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: all 0.8s ease;
    border: hidden;
    will-change: transform, box-shadow;
}

.aos-hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.program-icon {
    font-size: 100px; /* Размер иконки */
    display: block;
    margin: 10px auto;
}

.program-card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.program-image {
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.program-title {
    font-size: 25px;
    color: #333; /* Цвет текста для светлой темы */
    margin-bottom: 10px;
}

.program-tegs {
    font-size: 16px;
}

.program-description {
    font-size: 17px;
    color: #555; /* Цвет текста для светлой темы */
    margin-bottom: 15px;
}

.program-button {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff; /* Цвет для светлой темы */
    color: #fff; /* Цвет текста для кнопки светлой темы */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.program-button:hover {
    background-color: #0056b3;
}

.dark-theme .program-card {
    background-color: #43484f; /* Цвет для темной темы */ 
    color: #f8f9fa; /* Цвет текста для темной темы */
    border: hidden;
}

.dark-theme .program-title {
    color: #f8f9fa; /* Белый цвет текста заголовка в темной теме */
}

.dark-theme .program-description {
    color: #d1d1d1; /* Цвет текста описания в темной теме (можно настроить) */
}

.dark-theme .program-button {
    background-color: #007bff; /* Цвет для кнопки в темной теме */
    color: #fff; /* Цвет текста для кнопки в темной теме */
}

.dark-theme .program-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении в темной теме */
}

@media (max-width: 1300px) {
    .program-card {
        width: 50%;
    }
}

@media (max-width: 768px) {
   .program-card {
        width: 100%;
    }
}

